.notifications-container {
  overflow-y: auto;
  margin-top: 80px; /* Espacio superior para compensar la barra de navegación fija */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative; /* Establece el contexto de posicionamiento */
  z-index: 1; /* Asegura que el contenedor de las notificaciones esté por encima de la barra de navegación */
}

.notifications-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.notifications-container ul {
  list-style-type: none;
  padding: 0;
}

.notifications-container ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.notifications-container ul li:last-child {
  border-bottom: none;
}

.read {
  background-color: #f0f0f0;
}

.unread {
  background-color: #fff;
}
